# fly.toml app configuration file generated for llm-resume-restless-thunder-9259 on 2025-11-17T23:10:50-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'llm-resume-restless-thunder-9259'
primary_region = 'iad'

[build]
  dockerfile = 'experiments/Dockerfile'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
